
.input{
    display: flex;
    width: 30%;
    align-self: center;
    margin: 16px;
    padding-left: 16px;
}

.displayLbl{
    display: flex;
    text-align: center;
    align-self: center;
}

.displayLblSection{
    display: flex;
    align-self: center;
}

.limit{
    margin-left: 5px;
    color: red;
}